/*
    Message in a Melody
    (c) Marko Vojvodic 2015
*/

/* main page */

@font-face {
    font-family: 'Lato-Light';
    src: url("../lato/Lato-Light.ttf");
}


@font-face {
    font-family: 'Lato-Bold';
    src: url("../lato/Lato-Bold.ttf");
}

body{
    font-family: 'Lato-Light', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}

b {
    font-family: 'Lato-Bold', sans-serif;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #d35400;
}

.navbar {
    position: relative;
    width: 100%;
    height: 44px;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #f1c40f;
}

.navbar-text {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.text-wrapper {
    margin: 0;
    min-height: 400px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    text-align: center;
    vertical-align: middle;
}

.section-title {
    text-align: center;
}

.video-wrapper {
    position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content {
    position: relative;
    left: 0px;
    right: 0px;
    width: 100%;
    min-height: 400px;
}

.content-wrapper {
    height: auto;
    max-width: 1000px;
    margin: auto;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.poem {
    font-style: italic;
    text-align: center;
}

#video {
    height: auto;
    min-height: 0;
}

#goal {
    background-color: #f1c40f;
}

#info {
    background-color: #ecf0f1;
}

#about-us {
    background-color: #f1c40f;
}

#history {
    background-color: #ecf0f1;
}

#current-year {
    background-color: #f1c40f;
}

#mission {
    background-color: #ecf0f1;
}

#funds {
    background-color: #f1c40f;
}

#poem {
    background-color: #ecf0f1;
}

#sponsorship {
    background-color: #f1c40f;
}

#contact {
    background-color: #ecf0f1;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#team {
    min-height: 40px;
    text-align: center;
    padding-top: 0;
}

#affiliates {
    background-color: #f1c40f;
    min-height: 100px;
}

#social-media {
    background-color: #f1c40f;
    min-height: 100px;
}

#handle-wrapper {
    justify-content: space-around;
}

.officer {
    position: relative;
    width: 300px;
    height: 300px;
    display: inline-block;
}

#officer-info {
    text-align: center;
    position: relative;
    margin-top: 5px;
    margin-bottom: 0px;
}

.prof-pic {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.handle {
    position: relative;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    right: 0;
    left: 0;
    text-align: center;
    background-color: #f1c40f;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* so responsive */

@media (max-width: 999px) {
    #officer-wrapper {
        flex-direction: column;
    }
    
    .officer {
        margin-left: auto; 
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #finance {
        margin-top: 0px;
    }
    
    #sponsor {
        margin-bottom: 0px;
    }
    
    #social-media {
        height: auto;
    }
}

/* splash page */

#message {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000;
}

#message-content {
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 40px;
    max-width: 1000px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#more {
    color: #f1c40f;
}

#quote {
    font-size: 64px;
}

#mim {
    font-size: 40px;
}

#presented-by {
    font-size: 28px;
}

@media only screen and (max-width: 525px) {
    body {
        font-size: 16px; 
    }

    #message-content {
        font-size: 24px;
    }

    #quote {
        font-size: 44px;
    }

    #mim {
        font-size: 28px;
    }

    #presented-by {
        font-size: 20px;
    }
}
